.modal1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.modal-content1 {
  position: fixed;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding: 290px;
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  color: black;
}

.botao-voltar {
  margin-top: 38rem;
  margin-left: 52rem;
  background-color: white;
  color: wheat;
}

.h1-comecar {
  font-size: 7vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: -20rem;
  border: solid 1px black;
  margin-left: 9rem;
  padding: 1rem;
  width: 50%;
  margin-top: -17rem;
}